body {
  margin: 0;
  font-family: sans-serif;
}
.header {
  position: sticky;
  text-align: center;
  background: white;
  top: 0;
  font-size: 2em;
  padding: 0.5em;
  border-bottom: 4px dashed black;
  z-index: 1;
}
.logo {
  width: 50px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.article {
  text-align: justify;
  width: 80%;
  margin: 0 auto;
}
h1,
h2 {
  font-family: serif;
  text-align: center;
}
.styled-word {
  background: red;
  color: white;
  padding: 0 2em;
}
.article-image {
  width: 40%;
  float: right;
  border-radius: 20px;
  margin-left: 15px;
}
.image-bottom {
  width: 100%;
}
.footer {
  background: orange;
  text-align: center;
  font-size: 2em;
  padding: 0.5em;
  margin-top: 1em;
}
.bottom-container {
  position: relative;
}
.image-text {
  background-color: black;
  color: white;
}
.top-left {
  position: absolute;
  top: 0;
}
.bottom-right {
  position: absolute;
  right: 0;
  bottom: 0;
}
.sedond-paragraph {
  overflow: auto;
}
.center-text {
  position: absolute;
  top: 50%;
  color: white;
  width: 100%;
  text-align: center;
}
.center-text-inline {
  /* background-color: black; */
  background: black;
}
.popup {
  position: fixed;
  background-color: yellow;
  border: 4px solid black;
  top: 50%;
  left: 0;
  padding: 3em 0.5em;
}
.popup-2 {
  right: 0;
  left: auto;
}
